.createKitWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.optionsTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    color: #7f766a;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
        color: #252525;
        svg {
            fill: #252525;
        }
    }
    @media(max-width: 579.98px) {
        font-size: 12px;
    }
}

.optionsTitleIcon,
.optionsTitleIconActive {
    width: 20px;
    height: 20px;
}

.optionsTitleIconActive {
    transform: rotate(-180deg);
}

.optionsBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;  
}