.popupBlock {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #252525c1;
    z-index: 50;
    padding: 0 20px;
}

.popupImage,
.popupImageIncreased {
    position: relative;
    width: 740px;
    display: flex;
    border-radius: 20px;
    border: 1px solid #25252544;
    box-shadow: 5px 5px 5px #2525257a;
    z-index: 3;
    background-color: #fff;
    padding: 20px;
    overflow: hidden;

    @media(max-width: 991.98px) {
        margin: 150px auto;
        max-width: 640px;
    }

    @media(max-width: 767.98px) {
        margin: 180px auto;
    }

    @media(max-width: 379.98px) {
        padding: 10px;
    }
}

.popupImage {
    margin: 100px auto;
    max-height: 440px;
}

.popupImageIncreased {
    margin: 30px auto;
    max-height: 90vh;
}

.image {
    position: relative;
    width: 700px;
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    @media(max-width: 991.98px) {
        width: 600px;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


.closePopupBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 42px;
    height: 42px;
    fill: #484848;
    z-index: 3;
    border-radius: 50%;
    background-color: #ffffffdc;
    padding: 10px;
    transition: fill 0.3s ease 0s;

    @media(max-width: 379.98px) {
        right: 5px;
        top: 5px;
    }

    &:hover {
        fill: #252525;
        background-color: #fff;
    }
}

.increaseBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 10px;
    left: 20px;
    width: auto;
    height: 40px;
    z-index: 3;
    cursor: pointer;

    .increaseBtnIcon {
        &:hover + .tip {
            opacity: 100%;
        }
    }

    @media(max-width: 991.98px) {
        display: none;
    }
}

.increaseBtnIcon {
    width: 30px;
    height: 30px;
    fill: #484848;

    &:hover {
        fill: #252525;
    }
}

.tip {
    opacity: 0%;
    background-color: #252525;
    color: #fff;
    border: 1.5px solid #484848;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 8px 5px;
    transition: opacity 0.3s ease 0s;
}