.body {
    min-height: 410px;
    border-left: 2px solid #61616124;
    padding: 20px 0 20px 88px;

    @media(max-width: 991.98px) {
        padding: 20px 0 20px 60px;
    }

    @media(max-width: 767.98px) {
        padding: 40px 10px 20px;
        border-left: 0;
        border-top: 2px solid #61616124;
        min-height: 0;
    }

    @media(max-width: 379.98px) {
        padding: 30px 10px 20px;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formTitle {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #252525;
    text-align: center;
    @media (max-width: 767.98px) {
        font-size: 16px;
        max-width: 240px;
    }
}

.formBody {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    justify-content: center;
    gap: 20px;
    @media (max-width: 991.98px) {
        grid-template-columns: repeat(2, 100px);
    }
}

.buttonCreate,
.buttonUpdate,
.buttonDelete {
    padding: 20px;
    font-weight: 600;
    background-color: #fff;
    color: #252525;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}

.buttonCreate {
    border: 2px solid #6b645a;

    &:hover {
        color: #fff;
        background-color: #6b645a;
    }
}

.buttonUpdate {
    border: 2px dashed #6b645a;

    &:hover {
        color: #fff;
        background-color: #6b645a;
    }
}

.buttonDelete {
    border: 2px solid #252525;

    &:hover {
    background-color: #252525;
    color: #fff;  
    }
}

.button {
    font-weight: 600;
    border: 2px solid #252525;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    transition: all 0.3s ease 0s;
    &:hover {
        border: 2px solid #AD912B;
        transform: scale(1.1);
    }
}

.closePopup {
    display: flex;
    width: 80px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
    color: #252525;
    gap: 5px;
    transition: all 0.3s ease 0s;
    svg {
        fill: #252525;
        font-size: 20px;    
    }        
    &:hover {
        svg {
            fill: #AD912B;            
        }
    }
    @media(max-width: 767.98px) {
        font-size: 20px;
        svg {
            font-size: 16px;
        }
    }
}

.deliveryBlock,
.dataPaymentBlock,
.productsListBlock,
.promocodesBlock,
.testimonialsBlock,
.promotionBlock {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    h4 {
        align-self: center;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.4;
        max-width: 260px;
    }
}

.deliveryItems,
.dataPaymentItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.deliveryItems {
    max-width: 400px;
    flex-wrap: wrap;
}

.deliveryBlock {    
    max-width: 400px;
}

.deliveryItem,
.dataPaymentItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.deliveryTitle,
.dataPaymentTitle {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    @media (max-width: 379.98px) {
        font-size: 14px;
    }
}

.deliveryPrice,
.dataPaymentValue {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #484848;
    @media (max-width: 379.98px) {
        font-size: 14px;
    }
    svg {
        fill: #6b645a;
        cursor: pointer;
        &:hover {
            fill: #484848;
        }
    }
}

.upBtn, 
.subBtn,
.cancelBtn {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 3px 3px 3px #9c9c9c56;
    transition: all 0.6s ease 0s;
    max-width: 260px;
    width: 100%;
}
.upBtn,
.subBtn {
    background-color: #fff;
    color: #1560BD;
    border: 2px solid #1560BD;       

    &:hover {
        color: #fff;
        border: 2px solid #1560BD;
        background-color: #1560BD;
    }    
}

.subBtn {
    margin-top: 30px;
}

.cancelBtn {
    background-color: #fff;
    color: #252525;
    border: 2px solid #252525;
    &:hover {
        color: #fff;
        border: 2px solid #252525;
        background-color: #252525;
    }
}

.deliveryForm,
.dataPaymentForm,
.logoForm,
.promocodesForm {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.logoForm {
    margin-top: 20px;
}


.formLine, 
.formLineList,
.formLogoLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;   
}

.promocodesLine, 
.categoryFormLine,
.promotionFormDiscountLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.promocodesLine {
    width: 380px;

    @media(max-width: 479.98px) {
        flex-direction: column;
        justify-content: center;
        width: 240px;
    }
}

.formLogoLine {
    @media(max-width: 479.98px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.formLine,
.formLinePayment,
.formLogoLine,
.promocodesLine {
    padding: 0 15px;    
}

.formLinePayment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formLineList {
    @media(max-width: 991.98px) {
        max-width: 90vw;
        overflow: auto;    
    } 
}

.deliveryLabel,
.dataPaymentLabel,
.logoLabel,
.promocodesLabel,
.categoryLabel,
.promotionLabel {
    font-size: 16px;
    font-weight: 500;
    color: #252525;
    white-space: nowrap;
    @media(max-width: 479.98px) {
        font-size: 14px;
    }
}

.deliveryInput {
    padding: 10px 15px;
    border-bottom: 2px solid #acacacd2;
    outline: none;
    font-size: 16px;
    @media(max-width: 479.98px) {
        width: 50%;
        font-size: 14px;
    }
}

.promocodesInput,
.categoryInput,
.promotionInput,
.promotionDiscountInput {
    padding: 10px 15px;
    border-bottom: 2px solid #acacacd2;
    outline: none;
    font-size: 16px;
}

.logoInput {
    padding: 10px 15px;
    border-bottom: 2px solid #acacacd2;
    outline: none;
    font-size: 16px;
    @media(max-width: 479.98px){
        width: 100%;   
        font-size: 14px;     
    }
}

.logoFile {
    display: flex;
    max-width: 260px;
    font-size: 14px;
    color: #AD912B;
    cursor: pointer;

    @media (max-width: 479.98px) {
        font-size: 12px;
        max-width: 240px;
    }
}

.dataPaymentInput {
    padding: 10px 15px;
    border-bottom: 2px solid #acacacd2;
    outline: none;
    font-size: 16px;
    width: 300px;
    @media(max-width: 379.98px) {
        padding: 5px 8px;
        width: 240px;
        font-size: 13px;
    }
}


.deliveriesList,
.paymentsList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    @media(max-width: 479.98px) {
        margin-bottom: 20px;
    }
}

.deliveriesList {
    flex-wrap: wrap;
    @media(max-width: 991.98px) {
        flex-wrap: nowrap;
    }
}

.testimonialsList {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.testimonialsItem {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.testimonialsComment,
.testimonialsAnswer {
    display: flex;
    flex-direction: column; 
    width: 300px;
    @media(max-width: 379.98px) {
        max-width: 220px;
    }
}

.testimonialsComment {
    align-self: flex-start;
    border-radius: 20px 20px 20px 0;
    border: 2px solid #1561bd11;
    overflow: hidden;
}

.testimonialsTop,
.testimonialsReplyTop {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.testimonialsTop {
   background-color: #1561bd11;
}

.testimonialsReplyTop {
    background-color: #1561bdda;
    color: #fff;
    font-weight: 500;
    align-items: flex-end;
}

.testimonialsTopLine {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    gap: 20px;
}

.testimonialsName,
.testimonialsReplyName {
    font-size: 14px;
}

.testimonialsName {
    color: #484848;
}

.testimonialsDate,
.testimonialsReplyDate {
    align-self: flex-end;
    font-weight: 500;
    font-size: 12px;
}

.testimonialsDate {
    color: #686868;    
}

.testimonialsReplyDate {
    color: #ffffffc6;
}

.testimonialsProduct {
    line-height: 1.2;        
    font-size: 14px;
}

.testimonialsRating {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 5px;
    @media(max-width: 479.98px) {
        font-size: 16px;
    }
}

.testimonialsRatingStar {
    fill: #f0de68;
}

.testimonialsText,
.testimonialsReplyText {
    padding: 30px 15px;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

.testimonialsAnswer {
    margin-left: 40px;
    align-self: flex-end;
    border-radius: 20px 20px 0 20px;
    overflow: hidden;
    border: 2px solid #1561bdda;
}

.testimonialsDeleteLine {
    display: flex;
    align-items: flex-end;
    align-self: self-start;
    gap: 8px;
    transition: all 0.6s ease 0s;
    cursor: pointer;
    &:hover {
        .testimonialsDeleteIcon {
            fill: #1561bdb6;
            transform: scale(1.1)
        }
        .testimonialsDeleteText {
            color: #252525;
        }
    }
}

.testimonialsDeleteText {
    font-weight: 500;
    color: #2525257e;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.5px;    
}

.testimonialsDeleteIcon {
    width: 22px;
    height: 22px;
    fill: #2525257e;
}

.responseBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.responseIcon {
    display: flex;
    align-self: self-end;
    cursor: pointer;
    width: 18px;
    height: 18px;
    fill:#1561bda0;
    margin-right: 30px;
    &:hover {
        transition: fill 0.3s ease 0s;
        fill: #1561bd;
    }
}

.responseTextarea {
    margin-left: 40px;
    align-self: flex-end;    
    border-radius: 20px 20px 0 20px;
    border: 2px solid #2525257c;
    padding: 15px;
    resize: none;
    width: 300px;
    min-height: 150px;
    @media(max-width: 379.98px) {
        width: 220px;
    }
}

.responseActions {
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;    
    gap: 20px;
    @media(max-width: 379.98px) {
        flex-direction: column;
        align-items: flex-end;
        width: 220px;
    }
}

.responseCancelBtn,
.responseReplyBtn,
.responseReplyBtnOff, 
.addCategoryBtn,
.cancelAddCategoryBtn,
.addPromotionBtn,
.cancelAddPromotionBtn,
.addCategoryDisabledBtn,
.addPromotionDisabledBtn {
    width: 140px;
    border-radius: 20px;
    padding: 15px 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.6px;
    box-shadow: 3px 3px 3px #68686868;
    transition: background-color 0.6s ease 0s;
    cursor: pointer;
    @media(max-width: 379.98px) {
        width: 100%;
    }
}

.responseCancelBtn {
    background-color: #252525;
    color: #fff;
    &:hover {
        background-color: #3a3a3a;
    }
}

.responseReplyBtn {
    background-color: #1560BD;
    color: #fff;
    &:hover {
        background-color: #2475d7;
    }
}

.responseReplyBtnOff {
    background-color: #686868;
    color: #ebebebd1;

    &:hover {
        background-color: #686868;
    }
}

.editReplyLine {
    display: flex;
    align-items: flex-start;
    align-self: self-start;
    gap: 5px;
    cursor: pointer;
    transition: all 0.6s ease 0s;
    &:hover {
        .editReplyIcon {
            fill: #fff;
            transform: rotate(-10deg);            
        }
        .editReplyText {
            color: #fff;
        }
    }
}

.editReplyIcon {
    width: 18px;
    height: 18px;
    fill: #ffffffc6;
}

.editReplyText {
    color: #ffffffc6;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.promocodesList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 0 auto;
}

.promocodesItem {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 240px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.promocodesName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.promocodesSvg {    
    width: 20px;
    height: 20px;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    &:hover {
        fill: #1560BD;
        transform: scale(1.1);
    }    
}

.deliveryType,
.deliveryTypeActive,
.paymentType,
.paymentTypeActive {
    font-size: 14px;
    font-weight: 500;
    color: #252525;   
    border-radius: 20px;
    border: 2px solid #484848; 
    box-shadow: 3px 3px 3px #d9d9d9ad;
    padding: 15px 10px;
    white-space: nowrap;
    cursor: pointer;
    @media(max-width: 479.98px) {
        font-size: 13px;
    }
}

.deliveryTypeActive,
.paymentTypeActive {
    border: 2px solid #AD912B;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.logoBox {
    display: flex;
    position: relative;
}

.logoImg {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.logoText {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 60px;
    white-space: nowrap;
}

.logoAction {
    position: absolute;
    bottom: -8px;
    right: -15px;
    width: 40px;
    height: 40px;
    background-color: #4545453f;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    fill: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    &:hover {
        background-color: #45454551;
    }
}

.accountAvailableTrue {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #1560BD;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #1560BD;
    width: 98px;
}

.accountAvailableFalse {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #484848;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #484848;
    width: 110px;
}

.hidden {
    display: none;
}

.productList {
    display: flex;
    flex-direction: column;
}

.productItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
    color: #484848;
    &:hover {
        background-color: #f7f7f7a0;
        color: #252525;
        svg {
            fill: #1561bdd2;
        }
    }
    svg {
        fill: #484848;
        flex: 0 0 30px;
        height: 30px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
            fill: #1560BD;
        }
    }
}

.productInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 1.2;
    @media(max-width: 479.98px) {
        font-size: 10px;
    }
}

.productImg {
    position: relative;
    flex: 0 0 50px;
    height: 50px;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.loadingText,
.alertText {
    text-align: center;
    font-size: 16px;
    color: #AD912B;
    font-weight: 500;
}

.promotionBlock {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.5px;
    @media(max-width: 379.98px) {
        font-size: 14px;
    }
}

.promotionBody,
.promotionTop,
.promotionBottom,
.promotionBrands,
.promotionItem,
.promotionItemDisable,
.promotionItems {
    display: flex;
    flex-direction: column;
}

.promotionItems {
    gap: 40px;
}

.deletePromoIcon {
    align-self: flex-end;
    width: 24px;
    height: 24px;
    fill: #25252571;
    transition: all 0.3s ease 0s;
    cursor: pointer;    
    &:hover {
        fill: #6c7c61;
        transform: scale(1.2);
    }
}

.promotionItem,
.promotionItemDisable {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #6c7c61;
    box-shadow: 5px 5px 10px #6c7c611d;
    gap: 30px;
}

.promotionItemDisable {
    opacity: 70%;
    border: 2px solid #787878;
}

.promotionTop {
    gap: 10px;    
}

.promotionTopLine {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.promotionTopLabel,
.promotionBottomLabel {
    font-weight: 500;
}

.promotionStatusOn {
    color: #AD912B;
}

.promotionStatusOff {
    color: #484848;
}

.promotionBottom {
    gap: 20px;
}

.promotionBrands {
    gap: 10px;
}

.promotionBrand {
    display: flex;
    gap: 5px;
}

.promotionBrandPercent {
    font-weight: 500;
    color: #AD912B;
}

.promotionInput {
    width: 280px;
    @media(max-width: 767.98px) {
        width: 200px;
    }
}

.promotionFormDiscountLine {
    padding: 0 5px;
    @media(max-width: 479.98px) {
        padding: 0 15px;
    }
}

.promotionDiscountInput {
    width: 180px;
    @media(max-width: 767.98px) {
        width: 160px;
    }
}

.promotionBrandsList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 280px;
    margin-bottom: 30px;
    @media(max-width: 767.98px) {
        flex-wrap: nowrap;
        overflow: scroll;
    }
    @media(max-width: 379.98px) {
        max-width: 260px;
    }
}

.promotionBrandsItem,
.promotionBrandsItemActive {
    border-radius: 15px;
    padding: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    transition: all 0.3s ease 0s;
}

.promotionBrandsItemActive {
    border: 2px solid #1560BD;
    color: #1560BD;
}

.promotionBrandsItem {
    border: 2px solid #48484894;
    &:hover {
        border: 2px solid #1560BD;
        color: #1560BD;
    }
}

.promotionTitle {
    font-weight: 500;
    width: 280px;
    @media(max-width: 379.98px) {
        width: 200px;
        padding: 0 15px;
    }
}

.promotionAddBrand {
    display: flex;
    width: 280px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    color: #252525ba;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin: 15px 0 40px 0;   
    cursor: pointer;
    transition: all 0.3s ease 0s;
    svg {
        width: 18px;
        height: 18px;
        fill: #2475d7;
    }
    &:hover {
        color: #252525;
        svg {
            fill: #1560BD;
        }
    }
    @media(max-width: 479.98px) {
        padding: 0 15px;
    }
}

.addPromotionNextActions {
    display: flex;
    gap: 20px;
    width: 280px;
    @media(max-width: 379.98px) {
        padding: 0 15px;   
        flex-wrap: wrap;
    }
}

.promoDate {
    white-space: nowrap;
    @media(max-width: 379.98px) {
        font-size: 14px;
    }
}

.brandsWithDiscounts {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
    gap: 5px;
    width: 280px;
    @media(max-width: 379.98px) {
        width: 200px;
        padding: 0 15px;
    }
}

.categoriesBlock {
    display: flex;
    flex-direction: column;
}

.categoriesListTitle,
.categoriesLoader {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.5px;
    color: #AD912B;
    @media(max-width: 767.98px) {
        font-size: 16px;
    }
}

.categoriesLoader {
    margin-top: 5px;
}

.categoriesList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
}

.categoriesItem,
.categoriesItemActive {
    display: flex;
    gap: 10px;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

.categoriesItem {
    .categoriesPosBadge {
        color: #484848;
        font-weight: 500;
    }
}

.categoriesItemActive {
    cursor: grab;
    transition: all 0.3s ease 0s;
    &:hover {
        color: #AD912B;
        .categoriesDragHandleOn {
            color: #AD912B;
        }
    }
    &:active {
        cursor: grabbing;
    }
}

.createCategoryBtn,
.createPromotionBtn {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    @media(max-width: 379.98px) {
        margin-top: 30px;
        gap: 10px;
    }
}

.createCategoryBtn {
    margin-bottom: 60px;
    padding: 15px 20px;    
    border-radius: 20px;    
    border: 2px solid #6c7c61d2;
    box-shadow: 5px 5px 5px #6c7c6125;
    &:hover {
        border: 2px solid #6c7c61;
        .createCategoryText {
            color: #252525;
        }
        .createCategoryIcon {
            fill: #6c7c61;
        }
    }
    @media(max-width: 379.98px) {
        padding: 15px;
    }
}

.createPromotionBtn {
    margin-bottom: 40px;
    padding: 0;
    &:hover {
        .createPromotionText {
            color: #252525;
        }
        .createPromotionIcon {
            fill: #6c7c61;
        }
    }
    @media (max-width: 379.98px) {
        margin-bottom: 20px;
    }
}

.createCategoryText,
.createPromotionText {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: color 0.3s ease 0s;
    @media(max-width: 379.98px) {
        font-size: 16px;
    }      
}

.createCategoryText {
    color: #252525d3;  
}

.createPromotionText {
    color: #484848;
}

.createCategoryIcon,
.createPromotionIcon {
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease 0s;
}

.createCategoryIcon {
    fill: #6c7c61d2;    
}

.createPromotionIcon {
    width: 36px;
    height: 36px;
    fill: #6c7c61d2;
    @media(max-width: 379.98px) {
        width: 28px;
        height: 28px;
    }
}

.categoriesCreateForm,
.promotionCreateForm {
    display: flex;
    flex-direction: column;
    @media(max-width: 767.98px) {
        align-self: center;
    }
}

.categoriesCreateForm {
    gap: 50px;
}

.promotionCreateForm {
    gap: 30px;
}

.addPromotionBtn,
.cancelAddPromotionBtn,
.addPromotionDisabledBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.addPromotionBtn,
.cancelAddPromotionBtn {
    &:hover {
        .promotionNextIcon {
            fill: #fff;
        }
    }
}

.addPromotionDisabledBtn {
    .promotionNextIcon {
        fill: #ffffffac;
    }
}

.promotionNextIcon {
    width: 16px;
    height: 16px;
    fill: #fffffff0;
}

.categoryFormLine,
.promotionFormLine {
    padding: 0 5px;
    margin-left: 0;
    max-width: 200px;
    gap: 10px;
    @media (max-width: 379.98px) {
        flex-wrap: wrap;
        .categoryInput {
            max-width: 200px;
        }
    }
}

.categoriesDragHandleOn {
    color: #6c7c61;
}

.categoriesDragHandleOff {
    color: #fff;
}

.changeCategoriesOrderLine {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.changeCategoriesOrderText {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.changeCategoriesOrderIcon {
    width: 20px;
    height: 20px;
    fill: #6c7c61;
    margin-bottom: 1.5px;
}

.cancelChangeOrder {
    max-width: 240px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #252525eb;
    box-shadow: 5px 5px 5px #25252517;        
    color: #ffffffe7;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    transition: background-color 0.3s ease 0s;
    cursor: pointer;
    &:hover {
        color: #fff;
        background-color: #252525;
    }
}

.addCategoryActions,
.addPromotionActions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.cancelAddCategoryBtn,
.cancelAddPromotionBtn {
    background-color: #252525;
    color: #fff;

    &:hover {
        background-color: #3a3a3a;
    }
}

.addCategoryBtn,
.addPromotionBtn {
    background-color: #1560BD;
    color: #fff;

    &:hover {
        background-color: #2475d7;
    }
}

.addCategoryDisabledBtn,
.addPromotionDisabledBtn {
    background-color: #686868;
    color: #ebebebd1;
    cursor: auto;
    &:hover {
        background-color: #686868;
    }
}

.switchOn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid #AD912B;
    background-color: #fff;  
    border-radius: 5px;
    cursor: pointer;
}

.switchOffIcon,
.switchOnIcon {
    width: 13px;
    height: 13px;
    border-radius: 2px;
}

.switchOffIcon {
    background-color: #fff;
}

.switchOnIcon {
    background-color: #AD912B;
}


